//Avenir Fonts

@font-face {
  font-family: "Avenir Light";
  src: url(../../fonts/avenir/AvenirLTStd-Light.otf) format("woff2");
}
@font-face {
  font-family: "Avenir Book";
  src: url(../../fonts/avenir/AvenirLTStd-Book.otf) format("woff2");
}
@font-face {
  font-family: "Avenir Roman";
  src: url(../../fonts/avenir/AvenirLTStd-Roman.otf) format("woff2");
}
